@font-face {
   font-family: SheepingCatsStraight;
   src: url(SheepingCatsStraight.ttf);
}
.font-battalia {
   font-family: SheepingCatsStraight, Arial !important;
}
.font-battalia-color {
	background:linear-gradient(to right,#F11637, #FF090F);
	-webkit-background-clip: text;
	background-clip: border box;
	color:transparent;
	width: fit-content;
}

@font-face {
   font-family: VerminVibes2;
   src: url(VerminVibes2.ttf);
}
.font-myth {
   font-family: VerminVibes2 !important;
}
.font-myth-color {
	background:linear-gradient(to right,#113AFF, #09BAEF);
	-webkit-background-clip: text;
	background-clip: border box;
	color:transparent;
	width: fit-content;
}


.noscrollbar {
    -ms-overflow-style: none !important;  /* Internet Explorer 10+ */
    scrollbar-width: none !important;  /* Firefox */
}
.noscrollbar::-webkit-scrollbar { 
    display: none !important;  /* Safari and Chrome */
}

.default-border {
	border-style: inset !important;
	border-radius: 15px 50px !important;
	border-color: #fff #000 !important;
	background-color: rgba(0,0,0,0.3) !important;
	padding: unset;
}
.default-border2 {
	border-style: inset !important;
	border-radius: 15px 50px !important;
	border-color: #000 #fff !important;
	background-color: rgba(0,0,0,0.3) !important;
	padding: unset;
}

@media (min-width: 768px) {
	.fixed-box-height {
		max-height: 500px !important;
		overflow-y: auto !important;
		overflow: auto !important;
	}
}
.box {
	background:rgba(0, 0, 0, 0.6) !important;
	border-radius:20px 80px !important;
	border:none !important;
}

.better-scrollbar ::-webkit-scrollbar,
iframe::-webkit-scrollbar {
 width:.75em !important;
}
.better-scrollbar ::-webkit-scrollbar-track,
iframe::-webkit-scrollbar-track {
 background:#222 !important;
}
.better-scrollbar ::-webkit-scrollbar-thumb,
iframe::-webkit-scrollbar-thumb {
 background:#111 !important;
 border:1px solid rgba(255,255,255,0.125) !important;
}

.modal-content,
.modal-dialog {
	background:#222 !important;
}
.modal-header {
	border-bottom-color:rgba(255,255,255,0.125) !important;
	color:#e2e2e2 !important
}

.list-edits {
	padding-bottom: .5rem !important;
	padding-top: .5rem !important;
	background: transparent !important;
}
.redden-icon {
	filter:invert(60%) sepia(100%) hue-rotate(320deg) saturate(100);
}
.bluen-icon {
	filter:invert(60%) sepia(100%) hue-rotate(200deg) saturate(100);
}

.underline {
	text-decoration: underline;
}

.danger-hover:hover {
	color:rgba(255,9,15,0.75) !important;
	cursor: pointer;
}
.info-hover:hover {
	color:rgba(17,58,255,0.75) !important;
	cursor: pointer;
}
.warning-hover:hover {
	color:rgba(241,22,55,0.75) !important;
	cursor: pointer;
}
.image-hover {
	transform: scale(1,1);
	transition: 0.3s;
}
.image-hover:hover {
	transform: scale(1.03,1.03);
	cursor: pointer;
}

.blockquote-footer {
	color: #999 !important
}

#myth div::selection,
#myth h1::selection,
#myth li::selection,
#myth i::selection,
#myth h2::selection,
#myth h3::selection,
#myth h4::selection,
#myth h5::selection,
#myth span::selection,
#myth a::selection,
#myth u::selection,
#myth p::selection,
.blue-select {
  color: rgba(9,186,239,0.75) !important;
  background: rgba(255,255,255,0.8) !important;
}

.big {
width: 100vw;
}

@media only screen and (max-width: 991.98px) { 
	.smallnotransform {
		transform: translate(0px, 0px) !important
	}
}

.pkmn td .unused {
	background: -webkit-linear-gradient(144deg, rgba(0, 0, 0, 0.2) 0%, rgba(100, 100, 100, 0.2) 100%);
	background: linear-gradient(144deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);
	border-radius: 0% 25% 0% 25%
}
.pkmn {
	background: rgba(0,0,0,0.6) !important;
	border-radius: 5px 30px !important;
	display: block;
  	width: fit-content;
}
.pkmn table {
	margin-top: -10px;
	margin-bottom: 10px;
}

.c-replyButton, .c-expandButton {
	color: #09BAEF;
	background: rgba(17,17,17,0.6);
	border: none;
	border-radius: .25em;
	padding: .25rem .5rem;
	font-size: .875rem;
	line-height: 1.5;
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.c-replyButton:hover, .c-replyButton:focus, .c-replyButton.active,
.c-expandButton:hover, .c-expandButton:focus, .c-expandButton.active {
	background: #09BAEF !important;
	border-color: #09BAEF;
	color: #fff !important;
	text-shadow: none !important;
	cursor: pointer;
	outline: none;
}
/* Comment section */
.c-comment {
	margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
	padding-bottom: 1.5rem;
    background-color: rgba(0,0,0,0.6); 
	border-radius: 15px 50px;
}
.c-reply {
    display: block;
    width: 92%;
    margin-left: auto;
    margin-right: 0;
    padding: 1rem;
    background-color: rgba(0,0,0,0.6); 
	border-radius: 15px 50px;
}
.c-reply:last-child {margin-bottom: 0;}
.c-replyContainer {
    margin: -10px;
	margin-top: 10px;
}

#c_replyingText {
	color: #09BAEF !important;
	float: left;
	margin-top: 6px;
	margin-right: 4px;
  }

.c-name {
    display: inline-block;
    margin: 0;
    margin-right: 10px;
    padding: 0;
    text-transform: uppercase;
	font-family: goldman, sans-serif;
}
.c-site {
    text-transform: uppercase;
	font-size: 0;
}
.c-site:before {
	font-size: initial;
	content: "\f35d";
  	font-weight: 900;
  	font-family: "Font Awesome 6 Free";
  	font-style: normal;
  	font-variant: normal;
  	line-height: 1;
  	text-rendering: auto;
}
.c-timestamp {
    float: right;
	color: #4b4646 !important;
	vertical-align: bottom !important;
}
.c-text {
    margin: 0;
    padding: 1rem;
    background-color: #111;
	border-radius: .25em;
    border: 1px solid rgba(255,255,255,0.125);
	margin-bottom: 1rem;
}
.c-reply .c-text {
	margin-bottom: 0 !important;
}
.c-input {
  max-width: 100%;
}

/* MAKO SECTION // Z */
.text-mako {
 color:#00ff97!important
}
a.text-danger:focus, a.text-danger:hover {
 color:rgba(0,255,151,0.75)!important
}

.bg-mako,
.card-mako,
.alert-mako {
 background-color:#00ff97!important
}

.card-outline-mako,
.card-outline-mako .card-header {
 border-color:#00ff97!important
}

.btn.btn-mako,
.badge-mako {
  color:#00ff97 !important;
}

.badge.badge-mako:hover,
.badge.badge-mako:focus,
.btn-mako:hover,
.btn-mako:focus,
.btn-mako.active {
  background:#00ff97 !important;
  border-color:#00ff97;
  color:#fff!important;
  text-shadow:none!important
}

.btn.btn-outline-mako {
  border-color:#00ff97;
  color:#00ff97;
}

.btn.btn-outline-danger:hover,
.btn.btn-outline-danger:focus,
.btn.btn-outline-danger.active {
  background:#00ff97;
  border-color:#00ff97;
}

#mako-select div::selection,
#mako-select h1::selection,
#mako-select li::selection,
#mako-select i::selection,
#mako-select h2::selection,
#mako-select h3::selection,
#mako-select h4::selection,
#mako-select h5::selection,
#mako-select span::selection,
#mako-select a::selection,
#mako-select u::selection,
#mako-select p::selection,
.cyan-select {
  color: rgba(0,255,151,0.75) !important;
  background: rgba(255,255,255,0.8) !important;
}
